<!DOCTYPE html>
<html>
<head>
  <title>OneCause - Professional Services</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to image_tag("OneCause-Gradient.png"), root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Scoreboards", "showscoreboards", class:"nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Giving Centers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reporting &amp; Analytics</a>
      </li>
    </ul>
      <%= form_tag(scoreboards_path, :method => "get", id: "search-form", class: 'form-inline my-2 my-lg-0') do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search", class: 'form-control mr-sm-2' %>
        <%= submit_tag "Search", :name => nil, class: 'btn btn-secondary my-2 my-sm-0 nav-item' %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.try(:admin?) %>
        <li class="nav-item"><%= link_to "Admin Portal", home_admin_path, class:"nav-link" %></li>
        <% end %>
        <% if user_signed_in? %>
        <li class="nav-item"> <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %></li>
        <% else %>
        <li class="nav-item"> <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %></li>
        <li class="nav-item"> <%= link_to "Log In", new_user_session_path, class:"nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <!--end navbar-->
<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>

      